*{
    padding:0;
    margin:0;
}
header{
    height: auto;
    display: flex;
    background-color: hsla(240, 87%, 40%, 0.281);
}
header .imagenIzq{
    width: 30%;
}
header .imagenIzq img{
    height: 130px;
    max-width: 100%;
    border-radius: 20%;
}
header .imagenesMedio{
    display: flex;

    width: 40%;
}
header .imagenesMedio img{
    border-radius: 20%;
    height: 50px;
    width: 20%;
    margin-left: 6px;
    margin-top: 80px;
}
header .imagenDerecha{
    width: 30%;
}
header .imagenDerecha img{
    height: 130px;
    max-width: 100%;
    border-radius: 20%;
}

body{
    background-image: url("https://image.freepik.com/vector-gratis/fondo-paisaje-retro-futurista-sol_52683-18844.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
img{
    height: 100px;
}
article{
    display: flex;
    justify-content: space-between;
}
article section{
    width: 25%;
}
article img{
    width: 15px;
}
article .seccionLado input{
    width: 80%;
    font-size: 10px;
    text-align: center;
    border-radius: 25px;
}
article .seccionLado h4{
    width: 90%;
    text-align: center;
    font-size: small;
}
article .seccionLado #artImgIzq{
    width: 80%;
}
article .seccionLado img{
    width: 35%;
    padding-left: 5%;
    height: 50px;
}
article .seccionMedio{
    width: 45%;
}
article .seccionMedio input{
    width: 60%;
    max-height: 17px;
    font-size: 10px;
    text-align: center;
    border-radius: 25px;
}
article .seccionMedio i{
    color: rgba(48, 3, 3, 0.747);
}
article .seccionMedio .divPublicarTop{
    display: flex;
}
article .seccionMedio .divPublicarTop img{
    width: 25px;
    height: 25px;
    border-radius: 50%
}
.seccionMedio .publicacionImagen{
    background-color: rgba(226, 223, 217, 0.5);
    margin-bottom: 13px;
    text-align: center;
}
.seccionMedio .publicacionImagen img{
    width: 80%;
    margin-left: 5%;
    border-radius: 20%;
}
.seccionMedio div .InfoPerfil{
    display: flex;
    border-bottom: solid;
    border-color: rgba(226, 223, 217, 0.247);
    margin-bottom: 5px;
}
.seccionMedio div .InfoPerfil .texto{
    padding-left: 5px;

}

.seccionMedio div .InfoPerfil img{
    width: 15%;
    height: 30px;
    border-radius: 45%;
}
h4{
    font-size: small;
}
article .seccionDerecha{
}