*{
    padding:0;
    margin:0;
}
header{
    height: auto;
    display: flex;
    background-color: hsla(240, 87%, 40%, 0.281);
}
header .imagenIzq{
    width: 30%;
}
header .imagenIzq img{
    height: 130px;
    max-width: 100%;
    border-radius: 20%;
}
header .imagenesMedio{
    display: flex;

    width: 40%;
}
header .imagenesMedio img{
    border-radius: 20%;
    height: 50px;
    width: 20%;
    margin-left: 6px;
    margin-top: 80px;
}
header .imagenDerecha{
    width: 30%;
}
header .imagenDerecha img{
    height: 130px;
    max-width: 100%;
    border-radius: 20%;
}

body{
    background-image: url("https://image.freepik.com/vector-gratis/fondo-paisaje-retro-futurista-sol_52683-18844.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
img{
    height: 100px;
}
article{
    display: flex;
    justify-content: space-between;
}
article section{
    height: 100%;
    width: 25%;
}
article img{
    width: 15px;
}
article .seccionIzq input{
    width: 80%;
    
}
article .seccionIzq h4{
    width: 90%;
    text-align: center;
    font-size: small;
}
article .seccionIzq #artImgIzq{
    width: 80%;
}
article .seccionIzq img{
    width: 35%;
    padding-left: 5%;
    height: 50px;
}
article .seccionMedio{
    width: 45%;
}
article .seccionMedio input{
    width: 70%;
}
article .seccionMedio .publicacionMedio{
    font: ;
}
h4{
    font-size: small;
}
article .seccionDerecha{
}