*{
    padding:0;
    margin:0;
}
header{
    height: auto;
    display: flex;

}
header .imagenIzq{
    width: 30%;
}
header .imagenIzq img{
    height: 130px;
    max-width: 100%;
}
header .imagenesMedio{
    display: flex;

    width: 40%;
}
header .imagenesMedio img{
    border-radius: 20%;
    height: 50px;
    width: 20%;
    margin-left: 6px;
    margin-top: 80px;
}
header .imagenDerecha{
    width: 30%;
}
header .imagenDerecha img{
    height: 130px;
    max-width: 100%;

}

body{
    background-image: url("https://image.freepik.com/vector-gratis/fondo-paisaje-retro-futurista-sol_52683-18844.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
img{
    height: 100px;
}