<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />   
    <link rel="shortcut icon" href="" />
    <link rel="stylesheet" href="/css/EstiloPrincipal.css">
    <title>Red Social</title>
</head>

<body>
    <%- include ('partials/_header'); %>
    <article>
        <section class="seccionLado">
            <div id="busquedaIzq">
                <input type="text" placeholder="Busqueda">
                <h4>Personas que quizas Conozcas</h4>
            </div>
            <div id="artIzqImg">
                <img src="img/beanie-2562646_1920.jpg" alt="">
                <img src="img/portrait-2194457_1920.jpg" alt="">
                <img src="img/portrait-3204843_1920.jpg" alt="">
                <img src="img/woman-3083390_1920.jpg" alt="">
                <img src="img/beanie-2562646_1920.jpg" alt="">
                <img src="img/portrait-2194457_1920.jpg" alt="">
            </div>
        </section>
        <section class="seccionMedio">
            <div class="divPublicarTop">
                <img src="img/woman-3083390_1920.jpg" alt="">
                <form action="/add" method="post">
                    <input type="text" name="texto" placeholder="¿que piensas?"> 
                    <button type="submit"><i class="fas fa-search"></i></button>

                </form>
            </div>
            <div id="chat">
                <h1>chat con socket.io y nodejss</h1>

                <div id="messages">

                </div>

            </div>

        </section>
        <section class="seccionLado">
            <div id="ImagenGrande">
                <img src="img/girl-1641215_1920.jpg " alt="">
            </div>
            <div>
                <img src="img/beanie-2562646_1920.jpg" alt="">
                <img src="img/portrait-2194457_1920.jpg" alt="">
                <img src="img/portrait-3204843_1920.jpg" alt="">
                <img src="img/woman-3083390_1920.jpg" alt="">
                <img src="img/beanie-2562646_1920.jpg" alt="">
                <img src="img/portrait-2194457_1920.jpg" alt="">
            </div>
        </section>
    </article>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
</body>