.divbtnRegistro{
    position:absolute;
    width: 100vh;
    height: 100vh;
    background-color:;
}
.divBtn{
    margin-top: 50px;
    margin-left: 250px;
}
.divLogin{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    text-align: center;
    padding: 14px;
    margin-right: 5px;
    border-radius: 16px;
}
.divLogin .formLogin{
    display: flex;
    flex-direction: column;
}
.divLogin .formLogin input{
    margin-top: 7px;
    margin-bottom: 10px;
    border-radius: 15px;   
    border:none;
}
