<header>
    <div class="imagenIzq">
        <img src="img/startup-3267505_1920.jpg" alt="">
    </div>
    <div class="imagenesMedio">
        <img src="img/smile-2072907_1920.jpg" alt="">
        <img src="img/girl-1641215_1920.jpg" alt="">
        <img src="img/girl-1641215_1920.jpg" alt="">

    </div>
    <div class="imagenDerecha">
        <img src="img/umbrella-1822586_1920.jpg" alt="">
    </div>
</header>